<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play!</title>
  <!-- TODO: Add a fav icon here -->

  <!-- Preload the clouds overlay -->
  <link rel="preload" href="/assets/img/Overlays/LoadingClouds.svg" as="image">

  <!-- Preload backgrounds -->
  <link rel="preload" href="/assets/img/backgrounds/backgroundSVG-01.svg" as="image">
  <link rel="preload" href="/assets/img/backgrounds/backgroundSVG-02.svg" as="image">
  <link rel="preload" href="/assets/img/backgrounds/night-bg-01.svg" as="image">

  <%- include('../_partials/commonHeaders.ejs') -%>

    <!-- Page Custom CSS - game_styles -->
<!--    <link rel="stylesheet" href="/assets/css/_commons/flip_overlay.css">-->
    <link rel="stylesheet" href="/assets/css/game_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- For Online Game -->
    <script>
      let playMode;
      let mySelectedPigeon;
      let opponentSelectedPigeon;
        <% if (typeof playMode !== "undefined" && playMode === "online") { %>
        playMode = "online";
        const gameId = "<%= gameId %>";
        const myUsername = "<%= myUsername %>";
        const opponentUsername = "<%= opponentUsername %>";
        mySelectedPigeon = '<%- JSON.stringify(mySelectedPigeon) %>';
        mySelectedPigeon = JSON.parse(mySelectedPigeon);

        opponentSelectedPigeon = '<%- JSON.stringify(opponentSelectedPigeon) %>';
        opponentSelectedPigeon = JSON.parse(opponentSelectedPigeon);
        <% } else { %>
        playMode = "offline";
        mySelectedPigeon = '<%- JSON.stringify(mySelectedPigeon) %>';
        mySelectedPigeon = JSON.parse(mySelectedPigeon);
        <% } %>
      console.log("selectedPigeons: ", mySelectedPigeon, opponentSelectedPigeon); // debug
    </script>
</head>

<body>
  <!-- <div class="loading-cover"></div> -->

  <div class="container-fluid big-container">
    <div class="row content-row">
      <div class="col-md-12">

        <!-- Portrait Mode Overlay -->
        <div class="flip-overlay">
          <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
          <span class="portrait">FLIP TO PLAY</span>
        </div>

        <!-- Intro Overlay -->
        <div class="intro-page d-none">
          <div class="blueBanner">
            <% if (typeof playMode !=="undefined" && playMode==='online' ) { %>
              <p class="character">
<!--                , you are: PUSINESS MAN-->
                <span></span>, you are: PUSINESS MAN
              </p>
              <% } else { %>
                <p class="character">you are: PUSINESS MAN </p>
                <% } %>
          </div>
          <div class="yourPigeon"></div>
          <div class="bubble bubble-bottom-left">
            <div class="backstory-container">
              <!-- <div class="backstory-title">Backstory</div> -->
              <div class="backstory-text">
                I’m a bird in the Big Apple. Life's good! Amazing food, great night life,
                what more can a pigeon ask for? Well... I wish&nbsp;<span class="pigeon-type">hoodie
                  pigeon</span>&nbsp;would stop
                stealing my food... I’ll have to
                take things into my
                own hands. Nothing personal, just business.
              </div>
            </div>
            <div class="objectives d-none">
              <div class="objectives-title">Objectives</div>
              <div class="objectives-banner">
                <ul class="game-info">
                  <li>Use forks to attack and decrease your opponent's lives</li>
                  <li>Use shields to protect yourself against your opponent's attacks</li>
                  <li>The winner is determined by the number of lives left or the amount of ammo left</li>
                </ul>
              </div>
            </div>

            <div class="back-start d-none">
              <div class="backBtn animate__animated animate__pulse animate__infinite">
                Back
              </div>
              <div class="continueBtn animate__animated animate__pulse animate__infinite">
                Start game!
              </div>
            </div>
            <div class="next">
              <div class="nextBtn animate__animated animate__pulse animate__infinite">
                Next
              </div>
            </div>


          </div>
        </div>

        <!-- Tutorial Overlay -->
        <div class="tutorial-overlay d-none animate__animated">
          <div class="tutorial"></div>
          <span class="exit-tutorial">x</span>
        </div>

        <!-- Loading Clouds -->
        <div class="loading-clouds-overlay">
          <div class="loading-text">Loading</div>
        </div>

        <!-- Round Countdown Overlay -->
        <div class="countdown-overlay d-none">
          <div class="countdown ready "></div>
          <div class="countdown-filler"></div>
          <!-- <span class="count">3</span> -->
        </div>

        <% if (playMode === "online") { %>
          <!-- Play Again Button -->
          <div class="play-again-container d-none position-absolute d-flex justify-content-center">
            <div id="pulse" class="play-again mb-5"></div>
          </div>
        <% } %>

        <% if (playMode === "offline") { %>
          <!-- Play Again Button -->
          <div class="play-again-container d-none position-absolute d-flex justify-content-center">
            <div id="pulse" class="play-again mb-5"></div>
          </div>
          
          <!-- Back to Main Button -->
          <div class="back-home-container d-none position-absolute d-flex justify-content-center align-items-end">
            <div id="pulse" class="back-home mb-5"></div>
          </div>
        <% } %>

        <!-- Game Result Banner -->
        <div class="result-container position-absolute d-flex justify-content-center">
          <div class="result-banner position-absolute mt-4"></div>
        </div>

        <!-- Timer Counter -->
        <div class="timer-counter blue">
          <span class="time-nums">30</span>
        </div>

        <!-- Wait for opponent to complete move notice -->
        <div class="wait-sign d-none position-absolute animate__animated">
          <div class="wait-sign-banner">
            <span class="online-text-searching">waiting for opponent</span>
          </div>
        </div>

        <!-- Help Button -->
        <div class="help animate__animated animate__pulse animate__infinite"></div>

        <!-- Mute Button -->
        <div class="mute"></div>

        <!-- Main Components -->
        <div class="container-fluid">

          <!-- Shields View/Buttons Components -->
          <div class="row d-flex justify-content-between blocks-row">

            <!-- My Shield View Components -->
            <div class="col-sm-2 asset-padding">
              <div class="d-flex justify-content-end">
                <img draggable="true" id="shield-image" src="/assets/img/GUI-controls/MainControls/vikingshield-1.png"
                  alt="" class="shield-icon my-shield animate__animated">
              </div>
              <div class="counter-box my-counter">
                <span class="my-block-counter">X4</span>
              </div>
            </div>

            <!-- Opponent's Shield View Components -->
            <div class="col-sm-2 asset-padding opponent-counter-box">
              <img src="/assets/img/GUI-controls/MainControls/vikingshield-1.png" alt="" class="shield-icon">
              <div class="counter-box opponent-counter">
                <span class="opponent-block-counter">X4</span>
              </div>
            </div>
          </div>

          <!-- Attack View/Buttons Components -->
          <div class="row d-flex justify-content-between">

            <!-- My Attack View Components -->
            <div class="col-sm-2 justify-content-end asset-padding">
              <div class="d-flex justify-content-end">
                <img draggable="true" id="attack-image" src="/assets/img/GUI-controls/MainControls/attackfork-1.png"
                  alt="" class="shield-icon my-attack animate__animated">
              </div>
              <div class="counter-box my-counter">
                <span class="my-attack-counter">X4</span>
              </div>
            </div>

            <!-- Opponent's Attack View Components -->
            <div class="col-sm-2 asset-padding opponent-counter-box">
              <img src="/assets/img/GUI-controls/MainControls/attackfork-1.png" alt="" class="shield-icon">
              <div class="counter-box opponent-counter">
                <span class="opponent-attack-counter">X4</span>
              </div>
            </div>
          </div>

          <!-- Table Labels AND Tallies Boards Components -->
          <div class="row d-flex board">

            <!-- Table Labels AND My Tallies Board Components -->
            <div class="col-sm-6">
              <div class="row">

                <!-- Table Labels -->
                <div class="col-sm-1 asset-padding table-labels">
                </div>

                <!-- My Tallies Board Components -->
                <div class="col-sm-10 asset-padding">
                  <table class="tally my-tally">
                    <tr>
                      <td class="tabol-labol head-label">
                        <img src="/assets/img/GUI-controls/MainControls/BodyParts-Head.svg" alt="Head">
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="tabol-labol body-label">
                        <img src="/assets/img/GUI-controls/MainControls/BodyParts-Body.svg" alt="Body">
                      </td>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="tabol-labol legs-label">
                        <img src="/assets/img/GUI-controls/MainControls/BodyParts-Legs.svg" alt="Legs">
                      </td>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!-- table row for round +1/-1 animations -->
                    <tr>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <!-- Opponent's Tallies Board Components -->
            <div class="col-sm-6 d-flex justify-content-end asset-padding">
              <table class="tally opponent-tally">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row d-flex justify-content-between health">
            <!-- My Health Bar Components -->
            <div class="col-sm-3 flex-column align-items-start asset-padding">
              <div class="health-container myHealthBar">
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
              </div>
              <div class="username-div my-username-div">
                <span class="username-span my-username-span">

                </span>
              </div>
            </div>

            <!-- Opponent's Health Bar Components -->
            <div class="col-sm-3 d-flex flex-column align-items-end asset-padding">
              <div class="health-container opponentHealthBar">
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
              </div>
              <div class="username-div opponent-username-div">
                <span class="username-span opponent-username-span">
                  <% if (typeof playMode !=="undefined" && playMode==='online' ) { %>
                    <%= opponentUsername %>
                      <% }%>
                </span>
              </div>
            </div>
          </div>

          <!-- Sunglasses Components -->
          <div class="sunglasses-container position-absolute">
            <img src="/assets/img/pigeons/pigeon-Items/Sunglasses-left.svg" alt=""
              class="sunglasses-left d-none animate__animated">
            <img src="/assets/img/pigeons/pigeon-Items/Sunglasses-right.svg" alt=""
              class="sunglasses-right d-none animate__animated">
          </div>

          <!-- Characters' Pigeon Components -->
          <div class="pigeons-container position-absolute">
            <img src="/assets/img/pigeons/pusiness_pigeon/right_normal.svg" alt="" class="pigeon-left ">
            <img src="/assets/img/pigeons/hoodie_pigeon/left_normal.svg" alt="" class="pigeon-right">
          </div>

          <!-- Hot-dog Pray Component -->
          <div class="hotdog-container position-absolute">
            <img src="/assets/img/Food/Hotdog/Hotdog@4x.png" alt="" class="hotdog-pray">
          </div>

          <!-- Move Picker Overlay Component -->
          <div class="container-fluid move-picker-overlay position-absolute">
            <div class="round-title animate__animated animate__slow">
            </div>
            <div class="row">
              <div class="col-sm-9 hints-box">
                <div class="row">
                  <b>Pick a fork </b>
                  <b>or shield and</b>
                  <b>select a <span class="box"> box </span></b>
                  <b> to equip that </b>
                  <b> pigeon part!</b>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 moves-placeholder position-absolute">
            <div class="outline-all">
              <div class="mv-placeholder head animate__animated animate__repeat-1"></div>
            </div>
            <div class="outline-threesides">
              <div class="mv-placeholder body animate__animated animate__repeat-1"></div>
            </div>
            <div class="outline-threesides">
              <div class="mv-placeholder legs animate__animated animate__repeat-1"></div>
            </div>
          </div>

          <div class="done position-absolute">
            <div class="doneStyled">fight!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bottom-row">
      <div class=" bottom-background">
        <img src="/assets/img/LYPSTYC-logo.png" alt="LIPSTYC Logo" class="companyLogo">
      </div>
    </div>
  </div>

  <!-- more audio for rounds/game wins/loses (removed drawRound sound for now)-->

  <audio hidden="true" id="winRound" src="/assets/music/win-round-sound.mp3"></audio>
  <audio hidden="true" id="winGame" src="/assets/music/winning-game.mp3"></audio>
  <audio hidden="true" id="loseGame" src="/assets/music/lose-game-moan.mp3"></audio>
  <audio hidden="true" id="drawGame" src="/assets/music/draw-game.mp3"></audio>
  <audio hidden="true" id="loseRound" src="/assets/music/click-error.mp3"></audio>
  <audio hidden="true" id="bgMusic" src="/assets/music/Fluffing-a-Duck.mp3"></audio>


  <!-- AUDIO/MUSIC CHOICES -->

  <!-- if using fluffy ducky background, put this in description: -->
  <!-- Fluffing a Duck Kevin MacLeod (incompetech.com)
    Licensed under Creative Commons: By Attribution 3.0 License
    http://creativecommons.org/licenses/by/3.0/
    Music promoted by https://www.chosic.com/free-music/all/  -->

  <!-- JavaScripts -->
  <!-- App -->
  <%- include('../_partials/commonJsFooters.ejs') -%>
</body>

</html>